.questions{
    text-align: center;
    &__item{
        padding: 0 .3em;
        .item-head{
            cursor: pointer;
            p{
                font-size: .85em;
                font-weight: 500;
            }
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        input{
            display: none;
        }
        .paragraph{
            text-align: left;
            margin-bottom: 2em;
        }
        #checkboxQuestions:checked {
            &~ .paragraph{
            display: none;
            }
            // .item-head img{
            //     src: url('../../images/icon-close.svg');
            //     height: 100px;
            //     border: 1px solid red;
            // }
        }
        #checkboxQuestions2:checked ~ .paragraph{
            display: none;
        }
        #checkboxQuestions3:checked ~ .paragraph{
            display: none;
        }
        #checkboxQuestions4:checked ~ .paragraph{
            display: none;
        }
    }
    .content-button{
        margin: 3em 0;
    }
    .button{
        &-blue{
            @include button;
            padding: 1em 1.9em;
            font-size: .8em;
            text-decoration: none;
            background: var(--SoftBlue);
            color: var(--Gray);
            width: 100%;
        }
        
    }
    @media (min-width:1440px) {
        .content_questions{
            margin: 2em auto;
            width: 45%;
        }
        &__item{
            .paragraph{
                width: 100%;
            }
        }
        
    }
}