:root {
  --SoftBlue: hsl(231, 69%, 60%);
  --SoftRed: hsl(0, 94%, 66%);
  --GrayishBlue: hsl(229, 8%, 60%);
  --Line: rgb(170, 170, 170);
  --VeryDarkBlue: hsl(229, 31%, 21%);
  --Gray: rgb(239, 239, 239);
  --FontSize: 18px;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: var(--FontSize);
  margin: 0;
  padding: 0;
}

.containt {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.black-style {
  opacity: 1;
  background-color: var(--VeryDarkBlue);
}

.wrapper {
  width: 100%;
  padding: 3em 1.5em;
  overflow: hidden;
  margin: 0 auto;
  box-sizing: border-box;
}

.is-hidden {
  display: none;
}

.grid-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

h1,
h2,
h3 {
  text-align: center;
  color: var(--VeryDarkBlue);
  margin: 0;
}

.line {
  background-color: var(--Line);
  height: 1px;
  width: 100%;
  display: inline-block;
}

.paragraph {
  word-spacing: 0.9px;
  color: var(--GrayishBlue);
  line-height: 1.8em;
  font-weight: 400;
  font-size: 0.84em;
  text-align: center;
}
@media (min-width: 1440px) {
  .paragraph {
    padding-top: 2em;
    width: 40%;
    text-align: center;
    margin: auto;
  }
}

.buttons {
  margin: 2.5em 0;
}

.rotate {
  transform: rotate(180deg);
}

.header {
  position: relative;
}
.header .wrapper {
  padding-top: 2em;
}
.header input {
  display: none;
}
.header .menu img {
  margin-right: 1em;
  cursor: pointer;
}
.header #menu:checked ~ .header__links {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 5em;
  height: 100vh;
  opacity: 0.95;
  overflow: hidden;
  background-color: var(--VeryDarkBlue);
  text-align: center;
  z-index: 1000;
}
.header #menu:checked ~ .header__links a {
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: 4px;
  color: white;
  display: inherit;
  margin: 0.5em 0;
}
.header #menu:checked ~ .header__links .social {
  margin-top: 5em;
}
.header #menu:checked ~ .header__links .social img {
  width: 8%;
  margin: 0 2em;
}
.header__image {
  cursor: pointer;
}
.header__links {
  display: none;
}
.header__links div {
  padding: 1.3em;
}
.header__links .login {
  padding: 0.5em 0;
  border: 2px solid white;
  border-radius: 5px;
}
.header__button {
  display: none;
}
.header .line {
  width: 90%;
}
@media (min-width: 1024px) {
  .header__links {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .header__links a {
    border: none;
    color: var(--VeryDarkBlue);
    letter-spacing: 3px;
    font-size: 0.8em;
    margin: 0 1em;
    text-decoration: none;
    transition: 450ms all;
  }
  .header__links .btn {
    color: var(--SoftRed);
  }
  .header__links .a:hover {
    color: var(--SoftRed);
  }
  .header__links .btn {
    transition: 450ms all;
    cursor: pointer;
  }
  .header__links .btn:hover {
    background-color: var(--SoftRed);
    border-color: var(--SoftRed);
  }
  .header__links .btn:hover > a {
    color: white;
  }
  .header__links .social {
    display: none;
  }

  .header__links div {
    padding: 0.5em 1em;
    border-radius: 5px;
    color: white;
    width: 80%;
    margin: 1em auto;
    border: 1px solid black;
    /* background-color: var(--SoftRed); */
  }
}

.hero__image {
  position: relative;
  z-index: -1111;
  text-align: center;
}
.hero__image img {
  width: 100%;
}
.hero__image div {
  background-color: var(--SoftBlue);
  position: absolute;
  z-index: -2;
  height: 75%;
  top: 70px;
  left: 85px;
  right: 0;
  border-radius: 0 0 0 42%;
}
.hero__description {
  text-align: center;
}
.hero__description .button-blue {
  font-weight: 500;
  border-radius: 0.3em;
  padding: 1em 0.4em;
  border: none;
  box-shadow: 0px 16px 12px -8px #c2c2c2;
  background: var(--SoftBlue);
  color: var(--Gray);
}
.hero__description .button-white {
  font-weight: 500;
  border-radius: 0.3em;
  padding: 1em 0.4em;
  border: none;
  box-shadow: 0px 16px 12px -8px #c2c2c2;
  background-color: var(--Gray);
  color: #696868;
}
@media (min-width: 1440px) {
  .hero {
    display: grid;
    margin-top: 2em;
    grid-template-columns: 600px 1fr;
    grid-template-areas: "description image";
  }
  .hero__description {
    font-size: 139%;
  }
  .hero .paragraph {
    width: 100%;
  }
  .hero .wrapper {
    padding: 3em 0 0 5em;
  }
  .hero__image {
    grid-area: image;
    position: relative;
  }
  .hero__image img {
    width: 670px;
    position: absolute;
    right: 70px;
  }
  .hero__image div {
    position: absolute;
    left: 300px;
    top: 120px;
    height: 90%;
  }
  .hero .wrapper {
    grid-area: description;
  }
  .hero .wrapper p,
  .hero .wrapper h1 {
    text-align: left;
  }
  .hero .buttons {
    text-align: left;
  }
  .hero .buttons .button-blue {
    margin-right: 1em;
  }
}

.features {
  text-align: center;
}
.features .wrapper {
  padding-bottom: 0;
  padding-top: 0;
}
.features-item {
  display: none;
}
.features input {
  display: none;
}
.features input[id="Bookmarking"]:checked ~ .features__list #item-Bookmarking {
  display: block;
}
.features input[id="Searching"]:checked ~ .features__list #item-Searching {
  display: block;
}
.features input[id="Sharing"]:checked ~ .features__list #item-Sharing {
  display: block;
}
.features
  input[id="Bookmarking"]:checked
  ~ .features__list
  ul
  [for="Bookmarking"] {
  padding: 0 1em 0.9em 1em;
  border-bottom: 5px solid var(--SoftRed);
}
.features input[id="Searching"]:checked ~ .features__list ul [for="Searching"] {
  padding: 0 1em 0.9em 1em;
  border-bottom: 5px solid var(--SoftRed);
}
.features input[id="Sharing"]:checked ~ .features__list ul [for="Sharing"] {
  padding: 0 1em 0.9em 1em;
  border-bottom: 5px solid var(--SoftRed);
}
.features__item--image {
  position: relative;
  margin-bottom: 3em;
}
.features__item--image img {
  max-width: 80%;
}
.features__item--image div {
  background-color: var(--SoftBlue);
  position: absolute;
  z-index: -2;
  height: 90%;
  right: 85px;
  top: 60px;
  left: 0;
  border-radius: 0 0 38% 0;
  max-width: 60%;
}
.features ul {
  padding: 0;
  list-style-type: none;
}
.features__link {
  padding: 1em 0;
  border-bottom: 1px solid var(--GrayishBlue);
}
@media (min-width: 768px) {
  .features__list ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 2em;
  }
  .features
    input[id="Bookmarking"]:checked
    ~ .features__list
    #item-Bookmarking {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .features input[id="Searching"]:checked ~ .features__list #item-Searching {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .features input[id="Sharing"]:checked ~ .features__list #item-Sharing {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .features-item .wrapper {
    padding-right: 4em;
    margin: auto;
  }
  .features-item .wrapper h2 {
    text-align: left;
  }
  .features-item .wrapper .paragraph {
    text-align: left;
  }
}
@media (min-width: 1440px) {
  .features {
    padding-top: 8em;
  }
  .features-item .paragraph {
    margin: 0;
    width: 70%;
  }
}

.dowloads__card {
  position: relative;
  border: 1px solid transparent;
  border-radius: 15px;
  text-align: center;
  padding: 2em 1em 0.5em 1em;
  margin: 2.5em 1em;
  box-shadow: 0px 9px 11px -2px #cdd1e6;
}
.dowloads__card .button-blue {
  font-weight: 500;
  border-radius: 0.3em;
  padding: 1em 0.4em;
  border: none;
  box-shadow: 0px 16px 12px -8px #c2c2c2;
  padding: 0.8em 2.5em;
  font-size: 0.8em;
  text-decoration: none;
  background: var(--SoftBlue);
  color: var(--Gray);
  width: 100%;
}
.dowloads__card .image-principal {
  margin: 1.2em 0;
}
.dowloads__card .image-line {
  position: absolute;
  left: 0;
  right: 0;
}
.dowloads__card .content-button {
  margin: 50px 0 30px 0;
}
@media (min-width: 1440px) {
  .dowloads {
    margin-top: 6em;
  }
  .dowloads .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .dowloads__card {
    height: 370px;
  }
  .dowloads__card:nth-child(2) {
    margin-top: 5em;
  }
  .dowloads__card:nth-child(3) {
    margin-top: 8em;
  }
}

.questions {
  text-align: center;
}
.questions__item {
  padding: 0 0.3em;
}
.questions__item .item-head {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.questions__item .item-head p {
  font-size: 0.85em;
  font-weight: 500;
}
.questions__item input {
  display: none;
}
.questions__item .paragraph {
  text-align: left;
  margin-bottom: 2em;
}
.questions__item #checkboxQuestions:checked ~ .paragraph {
  display: none;
}
.questions__item #checkboxQuestions2:checked ~ .paragraph {
  display: none;
}
.questions__item #checkboxQuestions3:checked ~ .paragraph {
  display: none;
}
.questions__item #checkboxQuestions4:checked ~ .paragraph {
  display: none;
}
.questions .content-button {
  margin: 3em 0;
}
.questions .button-blue {
  font-weight: 500;
  border-radius: 0.3em;
  padding: 1em 0.4em;
  border: none;
  box-shadow: 0px 16px 12px -8px #c2c2c2;
  padding: 1em 1.9em;
  font-size: 0.8em;
  text-decoration: none;
  background: var(--SoftBlue);
  color: var(--Gray);
  width: 100%;
}
@media (min-width: 1440px) {
  .questions .content_questions {
    margin: 2em auto;
    width: 45%;
  }
  .questions__item .paragraph {
    width: 100%;
  }
}

.contact {
  text-align: center;
  color: white;
  background-color: var(--SoftBlue);
}
.contact small {
  font-size: 0.7em;
  letter-spacing: 6px;
}
.contact h2 {
  margin: 0.5em 0;
  color: white;
  font-weight: 400;
}
.contact .button-red {
  padding: 1em 1.9em;
  font-size: 0.9em;
  text-decoration: none;
  background: var(--SoftRed);
  color: var(--Gray);
  border-radius: 5px;
  width: 80%;
  display: block;
  margin: auto;
}
.contact input {
  outline: none;
  border: white;
  font-size: 1em;
  padding: 0.5em 1.5em;
  border-radius: 5px;
  width: 80%;
  display: block;
  margin: 1em auto;
}
@media (min-width: 1440px) {
  .contact .content_contact {
    margin: 2em auto;
    width: 40%;
  }
  .contact .content_contact h2 {
    font-size: 180%;
  }
  .contact .content_contact form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1em;
    grid-template-areas: "input input button";
  }
  .contact .content_contact form input {
    grid-area: input;
  }
  .contact .content_contact form button {
    cursor: pointer;
    border: none;
    grid-area: button;
    padding: 0.6em;
  }
}

.footer {
  background: var(--VeryDarkBlue);
  text-align: center;
}
.footer__links {
  display: grid;
  grid-template-columns: 1fr;
}
.footer__links a {
  letter-spacing: 2px;
  font-size: 0.7em;
  color: var(--GrayishBlue);
  text-decoration: none;
  margin: 1em 0;
}
.footer__social img {
  margin: 1em;
}
@media (min-width: 1440px) {
  .footer__links {
    display: flex;
    margin-right: 25em;
  }
  .footer__links a {
    margin: 0 2em;
  }
}

/*# sourceMappingURL=styles.css.map */
